/* App.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.header {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left h1 {
  color: black;
  margin: 0;
}

.right .logout-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.notes {
  /* Add your styles for the notes section here */
}

.home-page {
  background-color: rgb(230, 230, 13);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-page button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
